<footer id="layout-footer">
    <div>
        <p>
             All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <%if(locals.user){%>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    
                    <a href="/users/profile/<%=locals.user._id%>">Profile</a>
                </li>
            </ul>
            <%}%>
        </nav>
    </div>
</footer>