<html>
    <head>
        <title>
            <%=title%>

        </title>
        

    </head>
    <body>
        <%-include('_header');%>
        
        <%-body%> 
        <!-- body is defined at layout side -->


        <%-include('_footer');%>
        

    </body>
</html>