
<!--  just below the body to put in th head tag-->
        
<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / Profile Page
</h1>
<!-- by set authentication -->


<p><%=user.name%></p>
<p><%=user.email%></p>
