body{
    background-color: lightcyan;
    #sign-up-container
    {
        max-width:30% ;
        background-color: white;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        h1{
            color: orange;
        }
        
        form{
            
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                list-style: none;
                .size-li
                {
                    width: 200px;
                    margin-top: 20px;
                }
                .submit-button
                {
                    background-color: orange;
                    font-family: monospace;
                    font-weight: bold;
                    padding: 3px;
                    cursor: pointer;
                }
                .google-logo
                {
                    background-color: blue;
                    padding: 3px;
                    box-sizing: border-box;
                    a{
                        text-decoration:none ;
                        color: white;
                        margin-left: 15px;
                    }
                    i{
                        background-color: white;
                        padding: 1px;
                    }
                }
            }
        }
    }
}
