body{
    background-color:lightblue;
    #profile-container{
        width:40%;
        border:2px solid white;
        background-color: white;
        height: auto;
        margin:2rem 3rem;
        div{
            display:flex;
            flex-direction: column;
            .outer-image-container
            {
                .image-container
                {
                   
                  img{
                        max-width: 150px;
                        max-height: 150px;
                        border-radius: 50%;
                        margin: auto;
                        margin-top:1rem;
                    }
                    
                }

            }
            #profile-form
            {
                list-style: none;
                display: flex;
                flex-direction: column;
                li
                {
                    margin:1rem;
                }
                #upload-button
                {
                    border: 2px solid black;
                    padding: 2px;
                    border-radius: 10%;
                }
                #upload-button:hover
                {
                    color:red;
                    cursor: pointer;
                }
                #upload-image
                {
                    display: none;
                }
                #preview-image{
                    display: none;
                   img{
                    border: 2px solid black;
                    box-shadow:2px 1px grey ;
                    height: 100px;
                    width: 100px;
                   }
                }
            }

        }
    }
}