#home-container {
  display: flex;
  width: 100%;
  height: 100%; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #user-friends {
    width: 30%;
    padding: 5px;
    border-left: 2px solid grey;
    height: 100%; }
